name: CI/CD

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  test:
    name: Tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Run tests
        run: mvn -B -ntp test

      # Артефакт с тестами
      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports-${{ matrix.os }}
          path: |
            target/surefire-reports/**
          if-no-files-found: warn

  build:
    name: Build artifact (Linux)
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Package
        run: mvn -B -ntp package

      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar

  deploy:
    name: Deploy (SSH)
    runs-on: ubuntu-latest
    needs: [build]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Download jar
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: dist

      - name: Show files
        run: ls -la dist

      # Залить jar на сервер
      - name: Copy jar to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "dist/*.jar"
          target: ${{ secrets.DEPLOY_DIR }}

      # Перезапустить сервис
      - name: Restart service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e
            ls -la "${{ secrets.DEPLOY_DIR }}"
            sudo systemctl restart my-java-ci-cd.service
            sudo systemctl --no-pager --full status my-java-ci-cd.service || true
